<html>


$menu

<div class="section">
<h2> About Mathblogging.org </h2>

<p style="padding-left: 35px;font-size:100%;">Mathblogging.org is a convenient place to check on the mathematical blogosphere.</p>

<p style="padding-left: 35px;font-size:100%;">Mimicry is the sincerest compliment. Our project is a blatant ripp-off of <a href="http://www.scienceblogging.org">scienceblogging.org</a> which we admire greatly. However, the current mathematical online community is very different from the scientific one which we try to accomodate.</p>

<p style="padding-left: 35px;font-size:100%;"> Mathblogging.org is hosted on <a href="https://code.google.com/appengine/">Google App engine </a>. You can also <a href="https://github.com/fbreuer/mathblogging">contribute to our code on github</a>. We hope to implement more dynamic and personalized features as we progress.

<p style="padding-left: 35px;font-size:100%;">If you have any questions, leave a comment below or <a href="mailto:mathblogging.network@gmail.com">contact us via email</a>. The people behind this project are <a href="http://www.felixbreuer.net">Felix</a>, <a href="http://ta.twi.tudelft.nl/wst/users/heymann/">Fred</a> and <a href="http://peter.krautzberger.info">Peter</a>.</p>
</div>

$disqus

$footer
  </body>
</html>
