$header

$menu

<div class="content">

<h2> About Mathblogging.org </h2>


<p>Mathblogging.org is a convenient place to check on the mathematical blogosphere.</p>

<p>Mimicry is the sincerest compliment. Our project is inspired by <a href="http://www.scienceblogging.org">scienceblogging.org</a> which we admire greatly. However, the current mathematical online community is very different from the scientific one which we try to accomodate.</p>

<h3>Which Blogs are listed?</h3> 
  
<p>We listed all blogs we know, which seem to be active, are at least partly about mathematics, and offer a feed (up to technical problems on our side, see below). If we missed some, please <a href="mailto:mathblogging.network@gmail.com">tell us</a>!</p>

<h3>What if I don&apos;t want to be listed?</h3> 

<p>That&apos;s of course fine too. We don&apos;t want to force ourselves onto anyone. Just <a href="mailto:mathblogging.network@gmail.com">drop us a line</a> and we will remove your blog from our site as quickly as the code allows it (it might take some hours, sorry!).

<h3>What&apos;s with the blogs without any entries?</h3> 

<p>This does not mean the blog is inactive! It is due to technical problems with reading the feed; mostly some program takes too long to respond. For some blogs this happens every time we try to read the feed, so we don&apos;t list them at the moment. We are working on it...

<h3>How does the site work anyways, and can I contribute?</h3> 

<p> We are so glad you asked! Mathblogging.org is hosted on <a href="https://code.google.com/appengine/">Google App engine</a>, and you can  <a href="https://github.com/fbreuer/mathblogging">contribute to our code on github</a>. We hope to implement more dynamic and personalized features as we progress.</p>

<h3>Who created this site?</h3> 

<p>The people behind this project are <a href="http://www.felixbreuer.net">Felix</a>, <a href="http://ta.twi.tudelft.nl/wst/users/heymann/">Fred</a> and <a href="http://peter.krautzberger.info">Peter</a>.</p>

<p>If you have any further questions, please leave a comment below or <a href="mailto:mathblogging.network@gmail.com">contact us via email</a>.</p>


$disqus

</div>

$footer
  </body>
</html>
