<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/content/site.css">
    <title>Mathblogging v0.01alpha</title>
  </head>
  <body>
    <h1> <a style="text-decoration:none;color:white;" href="/">Mathblogging <small style="color: #CCC">v0.01alpha</small></a></h1>


$menu


    <p style="padding-left: 35px;font-size:110%;">Mathblogging.org aims to become a convenient place to check on updates on the mathematical blogosphere. We hope to implement more dynamic and personalized features as we progress. 
</p>
    <p style="padding-left: 35px;font-size:110%;">Mimikry is the greatest compliment -- our project is a blatant ripp-off of <a href="http://www.scienceblogging.org">scienceblogging.org</a> which we admire greatly. However, the current mathematical online community is very different from the scientific one which we try to accomodate.</p>
    <p style="padding-left: 35px;font-size:110%;">If you have any questions, contact <a href="mailto:mathblogging@mathblogging.org">mathblogging@mathblogging.org</a>. The people behind this project in alphabetical order: <a href="http://www.felixbreuer.net">Felix</a>, <a href="http://ta.twi.tudelft.nl/wst/users/heymann/">Fred</a> and <a href="http://peter.krautzberger.info">Peter</a>.</p>
  </body>
</html>
