<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 
 <title>Mathblogging.org</title>
 <link href="http://www.mathblogging.org/feed" rel="self"/>
 <link href="http://www.mathblogging.org/"/>
 <updated>2010-11-10T21:50:23-05:00</updated>
 <id>Mathblogging.org</id>
 <author>
   <name>mathblogging.org</name>
   <email>mathblogging.network@gmail.com</email>
 </author>

 


#for $entry in $allentries
 <entry>
   <title> [[<%=entry.service%>]] <%=entry.title%> </title>
   <author>
      <name><%=entry.service%>  </name>
      <link><a href="$entry.homepage" title="<%=entry.service%>"><%=entry.service%></a></link>
   </author>

   <link href="$entry.link"/>
   <published> <%=entry.printTime_created()%></published>
   <updated><%=entry.printTime_updated()%></updated>
   <id><%=entry.service%> <%=entry.printTime_created()%> <%=entry.title%></id>
   <content type="html"> Length: approx <%=entry.length/5%> words. </content>
 </entry>
 #end for
 
</feed>