$header

$menu

<div class="content">

<p> The categories represent what we see as roughly the primary focus of each blog -- this supplements <a href="/planettag">PlanetTAG</a>.</p>

<div class="tocbox"> 
<ul>
<li> <a href="#Pure">Pure</a></li> 
<li> <a href="#Applied">Applied</a></li> 
<li> <a href="#Teachers">Teachers</a></li> 
<li> <a href="#Visual">Visualization</a></li> 
<li> <a href="#History">History</a></li> 
<li> <a href="#Art">Art</a></li> 
<li> <a href="#Fun">Fun</a></li> 
<li> <a href="#General">General</a></li> 
<li> <a href="#JournalisticWriters">Journalism</a></li>
<li> <a href="#Journals">Journals</a></li> 
<li> <a href="#Commercial">Commercial</a></li> 
<li> <a href="#Communities">Communities</a></li> 
<li> <a href="#Institutions">Institutions</a></li> 
</ul>
</div>

      <h2 id="Pure"> Pure mathematics <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "pure").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Applied"> Applied mathematics <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "applied").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Teachers"> Teachers and Educators <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "teacher").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Visual"> Visualizations <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "visual").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="History"> History <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "history").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Art"> Art  <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "art").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Fun"> Comics, recreational mathematics and other fun. <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "fun").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="General"> General scientific interest <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "general").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="JournalisticWriters"> Journalistic Writers <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "journalism").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Journals"> Journals, Publishers and similar feeds <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "journal").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Communities"> Communities <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "community").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Institutions"> Institutions <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("category =", "institution").order("listtitle")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      

$disqus

</div>

$footer

  </body>
</html>
