$header

$menu

<div class="content">

    <p> If you are just getting to know the mathematical blogosphere,  check out what's going on at some of our favorite blogs.
 <a href="/about">Read more here.</a></p>

      <h2> Our Favorites </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "highpro").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(10)
	      <li><a href="$entry.link"><%=entry.title%></a></li>
              #end for
	    </ul>
	    #end if
	  </div>
	</li>
        #end for
      </ul>

$disqus

</div>

$footer
  </body>
</html>
