<html>

$menu

    <p style="padding-left: 35px; padding-bottom: 20px; font-size:110%;"> If you are just getting to know the mathematical blogosphere,  check out what's going on at some of our favorite blogs.
 <a href="/about">Read more here.</a></p>

    <div class="section">
      <h2> Our Favourites </h2>
      <ul>
	#for $feed in $qf.get().filter("type =", "highpro")
	<li>
	  <div class="feedbox">
            <h3> <a href="$feed.homepage"><%=feed.title%> </a> </h3>
	    <ul>
              #for $entry in feed.entries()
	      <li><a href="$entry.link"><%=entry.title%></a></li>
              #end for
	    </ul>
	  </div>
	</li>
        #end for
      </ul>
    </div>

$footer
  </body>
</html>
