<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/content/site.css">
    <title>Mathblogging v0.01alpha</title>
  </head>
  <body>
    <h1> <a style="text-decoration:none;color:white;" href="/">Mathblogging <small style="color: #CCC">v0.01alpha</small></a></h1>


$menu

    <p style="padding-left: 35px; padding-bottom: 20px; font-size:110%;">Check out the latest posts from the mathematical blogosphere.</p>

<table id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
      Date
    </th>
    <th align="left" class="blogcolumn">
      Blog
    </th>
    <th align="left" class="postcolumn">
      Post
    </th>
  </tr>
  </thead>
  <tbody>
  #for $entry in $allentries
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
	<%= entry.printShortTime() %>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
	<%=entry.service%>
      </div>
    </td>
    <td width="80ex" valign="bottom" class="postcolumn">
      <div>
	<a href="$entry.link"><%=entry.title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>

  </body>
</html>
