$header

$menu

<div class="content">

<table class="rankingcolumn" id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Comments last 24h
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $comments_day
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed[1]%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed[0].homepage%>"><%=feed[0].title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>

<table class="rankingcolumn" id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Comments last week
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $comments_week
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed[1]%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed[0].homepage%>"><%=feed[0].title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>


<table class="rankingcolumn" id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Posts last week
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $posts_week
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed[1]%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed[0].homepage%>"><%=feed[0].title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>

<table class="rankingcolumn" id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Posts last month
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $posts_month
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed[1]%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed[0].homepage%>"><%=feed[0].title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>

$disqus

</div>

$footer
  </body>
</html>
