$header

$menu

<div class="content">

<p> Warning! We calculate the numbers based on the current feeds. </p>
<p>If a feed only contains 10 entries, the stats will be at most 10 -- beware of multiples of 5!</p>

<table class="rankingcolumn" id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Comments last 24h
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $comments_day
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed.comments_day%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed.homepage%>"><%=feed.title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>

<table class="rankingcolumn" id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Comments last week
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $comments_week
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed.comments_week%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed.homepage%>"><%=feed.title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>


<table class="rankingcolumn" id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Posts last week
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $posts_week
  #if feed.type != 'institution'
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed.posts_week%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed.homepage%>"><%=feed.title%></a>
      </div>
    </td>
  </tr>
  #end if
  #end for
  </tbody>
</table>

<table class="rankingcolumn" id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Posts last month
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $posts_month
  #if feed.type != 'institution'
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed.posts_month%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed.homepage%>"><%=feed.title%></a>
      </div>
    </td>
  </tr>
  #end if
  #end for
  </tbody>
</table>

$disqus

</div>

$footer
  </body>
</html>
