$header

$menu

<div class="content">

<table class="rankingcolumn" id="commentsperday">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Comments last 24h
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $comments_day
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed.comments_day%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed.homepage%>"><%=feed.title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>

<table class="rankingcolumn" id="commentsperweek">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Comments last week
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $comments_week
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed.comments_week%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed.homepage%>"><%=feed.title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>


<table class="rankingcolumn" id="postsperweek">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Posts last week
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $posts_week
  #if feed.category != 'institution'
  #if feed.category != 'community'
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed.posts_week%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed.homepage%>"><%=feed.title%></a>
      </div>
    </td>
  </tr>
  #end if
  #end if
  #end for
  </tbody>
</table>

<table class="rankingcolumn" id="postspermonth">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
    </th>
    <th align="left" class="blogcolumn">
      Posts last month
    </th>
  </tr>
  </thead>
  <tbody>
  #for $feed in $posts_month
  #if feed.category != 'institution' 
  #if feed.category != 'community'
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
      <%=feed.posts_month%>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
      <a href="<%=feed.homepage%>"><%=feed.title%></a>
      </div>
    </td>
  </tr>
  #end if
  #end if
  #end for
  </tbody>
</table>

$disqus

</div>

$footer
  </body>
</html>
