$header

$menu


<div class="content">

<h2> The latests posts </h2>

  #for $entry in $allentries
  #for $tag in $entry.tags
      <%= tag.term %>
  #end for
  #end for

<table id="postsbydate">
  <thead>
  <tr>
    <th align="left" class="datecolumn">
      Date
    </th>
    <th align="left" class="blogcolumn">
      Blog
    </th>
    <th align="left" class="postcolumn">
      Post
    </th>
  </tr>
  </thead>
  <tbody>
  #for $entry in $allentries
  <tr>
    <td valign="bottom" class="datecolumn">
      <div>
	<%= entry.printShortTime() %>
      </div>
    </td>
    <td valign="bottom" class="blogcolumn">
      <div>
	<a href="$entry.homepage" title="<%=entry.service%>"><%=entry.service%></a>
      </div>
    </td>
    <td valign="bottom" class="postcolumn">
      <div>
	<a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>

$disqus

</div>


$footer
  </body>
</html>
