$header

$menu

<div class="content">

<p> There are many different kinds of blogs and newsfeeds around. We tried to structure them a little.</p>

      <h2> Group Blogs </h2>
      Group blogs tend to be more research focused and less personal but are often more frequently updated and usually have more frequent discussions.

      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "groups")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(10)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2> Individual Researchers </h2>
      The majority of mathematical blogs are run by individual researchers mixing research and personal interests.
      <ul class="feedbox-list">
	#for $feed in $gqf.get("SELECT * FROM Feed WHERE type IN ('highpro','students')")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(10)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2> Journalistic Writers </h2>
      More frequent in the science blogosphere journalistic blogs focus on communicating research to a wider audience.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "journalism")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(10)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2> Communities </h2>
      Communities are a rich source for online discussions so we wouldn't want to miss them here.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "community")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(10)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2> Institutions </h2>
      Some institutions have interesting feeds, too.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "institution")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(10)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2> Microblogging </h2>
      Not yet taking off but mathematical microblogging is here to stay.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "micro")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(10)
	      <li><a href="$entry.link"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      

$disqus

</div>

$footer

  </body>
</html>
