<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/content/site.css">
    <title>Mathblogging v0.01alpha</title>
  </head>
  <body>
    <h1> Mathblogging <small style="color: #CCC">v0.01alpha</small></h1>

<!-- Top Navigation -->
<div id="menu">
<ul>
  <li><h2>Views</h2>
    <ul>
      <li><a href="content/bychoice.html" title="Selection">Editorial Picks</a></li>
      <li><a href="bytype" title="By Type">Sorted by Type</a></li>
      <li><a href="content/bydate.html" title="By Date">Sorted by Newest Entry</a></li>
    </ul>
  </li>
</ul>
<ul>
  <li><h2><a href="content/about.html" title="about">About</a></h2>
  </li>
</ul>						
</div>
<!-- end Top Navigation -->


    <p style="padding-left: 35px; padding-bottom: 20px; font-size:110%;">Mathblogging aims to become a convenient place to check on the mathematical blogosphere. <a style="color:black; text-decoration:underline;" href="/content/about.html">Read more here.</a></p>
    {% for type in types %}
      <div class="section">
	<h2> {{type.name}} </h2>
	<ul>
	{% for feed in type.feeds %}
	  <li>
	    <div class="feedbox">
              <h3> {{feed.title}} </h3>
	      <ul>
              {% for entry in feed.entries %}
	        <li><a href="{{entry.link}}">{{entry.title}}</a></li>
              {% endfor %}
	      </ul>
	    </div>
	  </li>
        {% endfor %}
	</ul>
      </div>
    {% endfor %}
  </body>
</html>
