$header

$menu

<div class="content">

<div class="tocbox"> 
<ul>
<li> <a href="#GroupBlogs"> Group Blogs</a> </li>
<li> <a href="#IndividualResearchers"> Individual Researchers</a> </li> 
<li> <a href="#TeachersAndEducators">Teachers and Educators</a> </li> 
<li> <a href="#JournlisticWriters">Journalistic Writers</a> </li>
<li> <a href="#Communities">Communities</a> </li> 
<li> <a href="#Institutions">Institutions</a> </li> 
</ul>
</div>


      <h2 id="GroupBlogs"> Group Blogs <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "groups").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="IndividualResearchers"> Individual Researchers <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "research").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="TeachersAndEducators"> Teachers and Educators <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "educator").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="JournlisticWriters"> Journalistic Writers <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "journalism").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Communities"> Communities <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "community").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Institutions"> Institutions <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "institution").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      

$disqus

</div>

$footer

  </body>
</html>
