$header

$menu

<div class="content">

<p> There are many different kinds of blogs and newsfeeds around. We tried to structure them a little.</p>

<div class="tocbox"> 
<ul>
<li> <a href="#GroupBlogs"> Group Blogs</a> </li>
<li> <a href="#IndividualResearchers"> Individual Researchers</a> </li> 
<li> <a href="#TeachersAndEducators">Teachers and Educators</a> </li> 
<li> <a href="#JournlisticWriters">Journalistic Writers</a> </li>
<li> <a href="#Communities">Communities</a> </li> 
<li> <a href="#Institutions">Institutions</a> </li> 
<li>  <a href="#Microblogging">Microblogging</a> </li> 
</ul>
</div>


      <h2 id="GroupBlogs"> Group Blogs <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      Group blogs tend to be more research focused and less personal but are often more frequently updated and usually have more frequent discussions.

      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "groups").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="IndividualResearchers"> Individual Researchers <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      The majority of mathematical blogs are run by individual researchers mixing research and personal interests.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "research").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="TeachersAndEducators"> Teachers and Educators <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      The teachers of mathematics on all levels form a large part of the mathematical blogosphere, unfortunately largely disjoint from the research blogs.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "educator").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="JournlisticWriters"> Journalistic Writers <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      More frequent in the science blogosphere journalistic blogs focus on communicating research to a wider audience.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "journalism").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Communities"> Communities <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      Communities are a rich source for online discussions so we wouldn't want to miss them here.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "community").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Institutions"> Institutions <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      Some institutions have interesting feeds, too.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "institution").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      <h2 id="Microblogging"> Microblogging <font size="-1"> <a href="#"> (Back to top) </a> </font> </h2>
      Not yet taking off but mathematical microblogging is here to stay.
      <ul class="feedbox-list">
	#for $feed in $qf.get().filter("type =", "micro").order("title")
	<li>
	  <div class="feedbox">
            <h3> <a href="<%=feed.homepage%>"><%=feed.title%> </a> </h3>
            #if len(feed.entries()) != 0
	    <ul>
              #for $entry in feed.entries(7)
	      <li><a href="$entry.link"><%=entry.title%></a></li>
              #end for
	    </ul>
            #end if
	  </div>
	</li>
        #end for
      </ul>

      

$disqus

</div>

$footer

  </body>
</html>
