title, homepage, person, category, url, comments, priority, subject, favicon
#for $feed in $qf.get().order("categoyr")
"<%=feed.title%>",<%=feed.homepage%>,<%=feed.person%>,<%=feed.category%>,<%=feed.url%>,<%=feed.comments%>,<%=feed.priority%>,<%=feed.subject%>,<%=feed.favicon%>
#end for
