<html>

$menu

<div class="section">
    <p style="padding-left: 35px;font-size:100%;">We only offer two very simple feeds (title and name only) since feeds are not the purpose of mathblogging.org. <br> There are much better tools around if you want to generate a metafeed, e.g., google reader, friendfeed, facebook etc.</p>

      <h2> The Feeds </h2>
      <ul>
	<li>
	  <div class="feedbox">
	    <ul>
	      <li><a href="/feed_small">The people-only feed -- no communities, no institutions, no microblogs</a></li>
	      <li><a href="/feed_big">The full feed -- everything we got.</a></li>
	    </ul>
	  </div>
	</li>
      </ul>
</div>

$footer
  </body>
</html>
