$header

$menu

<div class="content">

      <h2> The Feeds </h2>
    <p>We offer two very simple feeds (title and name only) since the primary purpose of mathblogging.org is to present the feeds graphically, not to bundle them. <br/> There are much better tools around if you want to generate a metafeed, e.g., google reader, friendfeed, facebook etc.</p>

      <ul class="feedbox-list">
	<li class="small">
	  <div class="feedbox">
            <h3> <a href="http://www.mathblogging.org/feed_small">The people-only feed</a> </h3>
	    without communities, institutions and microblogs.
	  </div>
	</li>
	<li class="small">
	  <div class="feedbox">
            <h3> <a href="http://www.mathblogging.org/feed_small">The full feed</a> </h3>
	    with everything we got.
	  </div>
	</li>
      </ul>

$disqus

</div>

$footer
  </body>
</html>
