<html>

$menu


<div class="section">

      <h2> The Feeds </h2>
    <p style="padding-left: 35px; font-size: 100%;">We only offer two very simple feeds (title and name only) since feeds are not the primary purpose of mathblogging.org. <br> There are much better tools around if you want to generate a metafeed, e.g., google reader, friendfeed, facebook etc.</p>

    <p style="padding-left: 35px; font-size: 100%;"> <a href="http://www.mathblogging.org/feed_small">The people-only feed</a> without communities, institutions and microblogs.</p>

    <p style="padding-left: 35px; font-size: 100%;"> <a href="http://www.mathblogging.org/feed_big">The full feed</a> with everything we got. </p>
</div>

$footer
  </body>
</html>
