#raw
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>Categories Grid</title>
	
	<link rel='stylesheet' type='text/css' href='content/infogrid-style.css' />
	
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
    <script type='text/javascript' src='content/infogrid.js'></script>   
</head>
#end raw

<body>


	<div id="page-wrap">
		
		<div class="info-col">
		
    		<h2>Pure</h2>
    		
    		<a class="image superman" href="http://jprart.deviantart.com/art/Batman-and-Superman-64545242">View Image</a>
    		
    		<dl>

	#for $feed in $qf.get().filter("category =", "pure").order("listtitle")
            <dt> <%=feed.title%>  </dt>
            #if len(feed.entries()) != 0
              #for $entry in feed.entries(7)
	      <dd><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></dd>
              #end for
            #end if
        #end for
    		</dl>
		
		</div>
		
		<div class="info-col">
		
    		<h2>Applied</h2>
    		
    		<a class="image superman" href="http://jprart.deviantart.com/art/Batman-and-Superman-64545242">View Image</a>
    		
    		<dl>

	#for $feed in $qf.get().filter("category =", "applied").order("listtitle")
            <dt> <%=feed.title%> </dt>
            #if len(feed.entries()) != 0
              #for $entry in feed.entries(7)
	      <dd><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></dd>
              #end for
            #end if
        #end for
    		</dl>
		
		</div>
		<div class="info-col">
		
    		<h2>Teachers</h2>
    		
    		<a class="image superman" href="http://jprart.deviantart.com/art/Batman-and-Superman-64545242">View Image</a>
    		
    		<dl>

	#for $feed in $qf.get().filter("category =", "teacher").order("listtitle")
            <dt> <%=feed.title%>  </dt>
            #if len(feed.entries()) != 0
              #for $entry in feed.entries(7)
	      <dd><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></dd>
              #end for
            #end if
        #end for
    		</dl>
		
		</div>

		<div class="info-col">
		
    		<h2>Visual</h2>
    		
    		<a class="image superman" href="http://jprart.deviantart.com/art/Batman-and-Superman-64545242">View Image</a>
    		
    		<dl>

	#for $feed in $qf.get().filter("category =", "visual").order("listtitle")
            <dt> <%=feed.title%>  </dt>
            #if len(feed.entries()) != 0
              #for $entry in feed.entries(7)
	      <dd><a href="$entry.link" title="<%=entry.title%>"><%=entry.title%></a></dd>
              #end for
            #end if
        #end for
    		</dl>
		
		</div>
			
	</div>
	

</body>

</html>