$header

$menu


<div class="content">

<h2> PlanetMO </h2>

At PlanetMO we collect recent posts tagged "mathoverflow", "mo" or "planetmo".

#for $entry in $moentries
<div class="planetbox">  
  <div class="planethead">
  <h2><a href="$entry.link" title="<%=entry.title%>"><%= entry.title %></a></h2>
  <div class="planetsubtitle">Posted on <a href="$entry.homepage" title="<%=entry.service%>"><%=entry.service%></a> at <%= entry.printShortTime() %>.
  </div>
  <div class="planettags">
     <i>Tags:</i>
     #for $tag in $entry.tags
         <%=tag.term%>,
     #end for
  </div>
  </div>
  <div class="planetbody">
  <p>
    <%= entry.sanitizedcontent %>
  </p>
  </div>
</div>
#end for

$disqus

</div>


$footer
  </body>
</html>
