$header

$menu


<div class="content">
<div id="tagcloud" class="tagcloud"> Image converter. Image converter. Image resizer. Png to ico. Png to ico. Png to ico. Ico to png. Png to jpg. Jpg to png. Jpg to png. Bmp to jpg. Jpg to bmp. Jpg to gif. Gif to jpg. Png to gif. Png to gif. Gif to png. Online. Online. Free. Free. Free. </div>


<table id="postsbydate">
  <tbody>
#for $tag in $alltags
  <tr>
    <td valign="bottom" class="blogcolumn">
      <div>
<%= tag %>
      </div>
    </td>
  </tr>
  #end for
  </tbody>
</table>

<h2> PlanetTAG </h2>

At PlanetTAG we collect recent posts tagged with the tag you just entered, in this case: "$tagname".


#for $entry in $moentries
<div class="planetbox">  
  <div class="planethead">
  <h2><a href="$entry.link" title="<%=entry.title%>"><%= entry.title %></a></h2>
  <div class="planetsubtitle">Posted on <a href="$entry.homepage" title="<%=entry.service%>"><%=entry.service%></a> at <%= entry.printShortTime() %>.
  </div>
  <div class="planettags">
     <i>Tags:</i>
     #for $tag in $entry.tags
         <%=tag.term%>,
     #end for
  </div>
  </div>
  <div class="planetbody">
  <p>
    <%= entry.content %>...
  </p>
  </div>
</div>
#end for

$disqus

</div>


$footer
  </body>
</html>
