<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/content/site.css"/>
    <style type="text/css">
body {
  height: 600px; 
  background: #DDDDDD; 
  background-repeat: no-repeat; 
  background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #444444), color-stop(0.33, #AAAAAA), color-stop(1, #DDDDDD));
  background-image: -moz-linear-gradient(center top , #444444 0%, #AAAAAA 200px, #DDDDDD 100%);
}
h1 {
  margin-bottom: 20px;
}
a {
  padding: 10pt;
}
.footer {
  padding-top: 100px;
}
    </style>
    <title>Mathblogging v0.01alpha</title>
  </head><body>
<h1 style="text-align:center">Mathblogging.org <span style="font-size: 10pt; color: rgb(204, 204, 204);">your one-stop shop for mathematical blogs</span></h1>

<table style="margin: auto; width: 594px;" border="0" cellpadding="0" cellspacing="0">
<tbody align="center"><tr align="center">
    <td align="center"><a href="/bydate" ><img src="/content/NPS-gasstation.png" height="150" width="150" alt="View the latest posts"/></a><br/><b>View the Latest Posts</b></td>
    <td align="center"><a href="/bytype"><img src="/content/NPS-reading.png" height="150" width="150" alt="View by type"/></a><br/><b>View by Category</b></td>
    <td align="center"><a href="/bychoice"><img src="/content/NPS-restaurant.png" height="150" width="150" alt="View our favorites"/></a><br/><b>View our Favorites</b></td>
</tr></tbody></table>


<table style="margin:auto; width: 450px; padding-top:50px;" border="0" cellpadding="0" cellspacing="0">
<tbody align="center">
<tr align="center">
    <td align="center"><a href="about"><img src="/content/NPS-recycle.png" height="50" width="50" alt="More about us"/></a><br/><span style="font-size:90%;">More about us</span></td>
    <td align="center"><a href="mailto:mathblogging.network@gmail.com"><img src="/content/NPS-mail.png" height="50" width="50" alt="Send us your blog"/></a><br/><span style="font-size:90%">Send us your blog</span></td>
    <td align="center"><a href="feeds"><img src="/content/NPS-anchor.png" height="50" width="50" alt="Grab a simple feed"/></a><br/><span style="font-size:90%"> Grab a simple feed </span></td>
</tr>
</tbody>
</table>

$footer

  </body></html>
