/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
  background: transparent;
  border: 0px;
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 50px 30px 30px 30px;
  width: 96%;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
.cse .gsc-control-cse div,
.gsc-control-cse div {
  position: normal;
}
/* Selector for entire element. */
/*.cse .gsc-control-cse,
.gsc-control-cse {
  background-color: #ffffff;
  border: 1px solid black;
  border-color: #ffffff;
  box-shadow: 4px 4px 7px black;
  -webkit-box-shadow: 4px 4px 7px black;
}*/
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.gsc-wrapper .gsc-adBlock, .gsc-wrapper .gsc-resultsbox-visible {
  margin-top: 20px;
  background: white;
  border: 1px solid black;
  border-color: #000000;
  box-shadow: 4px 4px 7px black;
  -webkit-box-shadow: 4px 4px 7px black;
  text-align: justify;
  padding: 10px;
}
.cse .gsc-adBlock {
  float: right;
  background: transparent;
  border: 0px;
}
.cse a.gs-title {
  padding: 0;
  font-weight: bold;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  border: block;
}
.cse form.gsc-search-box, form.gsc-search-box {
    background: transparent;
}
.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page, .gsc-results .gsc-cursor-page.gsc-cursor-current-page {
    background-color: #888888;
    border: 1px solid #DDDDDD;
    color: #000000;
    text-shadow: 0 1px 2px #FFFFFF;
}
form.gsc-search-box {
  width: 400px !important;
  margin: auto;
}
.cse .gsc-input {
  width: 400px;
}
/* Search button */
.cse input.gsc-search-button,
input.gsc-search-button {
  font-family: inherit;
  color: #000000;
  text-shadow: 0 1px 2px #FFFFFF;
  background-color: #CECECE;
  border: 1px outset;
  border-color: #666666;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  border-bottom: none;
  color: #666666;
  background-color: #e9e9e9;
  border: 1px solid;
  border-color: #e9e9e9;
  border-bottom: none;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  background-color: #FFFFFF;
  border: 1px solid;
  border-top: 2px solid;
  border-color: #e9e9e9;
  border-top-color: #FF9900;
  border-bottom: none;
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid #e9e9e9;
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result {
  padding: .25em;
  border: 1px solid;
  border-color: #ffffff;
  margin-bottom: 1em;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover {
  border: 1px solid;
  border-color: #FFFFFF;
}
.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
    color: #808080;
    text-decoration: none;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gs-promotion.gs-result,
.gs-promotion.gs-result {
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #336699;
}
/* Promotion image */
.cse .gs-promotion.gs-result .gs-promotion-image,
.gs-promotion.gs-result .gs-promotion-image {}
/* Promotion title */
.cse .gs-result a.gs-title,
.gs-result a.gs-title {
  color: #000000 !important;
  padding: 0;
  font-weight: bold;
}
.ad .titleLink {
  color: #000000 !important;
}
.ad .domainLink {
  color: #000000 !important;
}
.cse .gs-promotion.gs-result a.gs-title,
.gs-promotion.gs-result a.gs-title {
  color: #000000 !important;
}
.cse .gs-promotion.gs-result a.gs-title:link,
.gs-promotion.gs-result a.gs-title:link {
  color: #000000;
}
.cse .gs-promotion.gs-result a.gs-title:visited,
.gs-promotion.gs-result a.gs-title:visited {
  color: #000000;
}
.cse .gs-promotion.gs-result a.gs-title:hover,
.gs-promotion.gs-result a.gs-title:hover {
  color: #000000;
}
.cse .gs-promotion.gs-result a.gs-title:active,
.gs-promotion.gs-result a.gs-title:active {
  color: #000000;
}
/* Promotion snippet */
.cse .gs-promotion.gs-result .gs-snippet,
.gs-promotion.gs-result .gs-snippet {
  color: #000000;
}
/* Promotion url */
.cse .gs-promotion.gs-result .gs-visibleUrl,
.gs-promotion.gs-result .gs-visibleUrl {
  color: #008000;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
  background: #D5E2FF;
}
.gsc-completion-container {
  font-family: Arial, sans-serif;
  font-size: 13px;
  position: absolute;
  background: white;
  border: 1px solid #666666;
  margin-left: 0;
  margin-right: 0;
  /* The top, left, and width are set in JavaScript. */
}

/* Full URL */
.gs-webResult.gs-result .gs-visibleUrl-short {
  display: none;
}
.gs-webResult.gs-result .gs-visibleUrl-long {
  display: block;
}
