body {
    font-family: Calibri, Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
    height: 600px;
    background: #FFFFFF;
    background-repeat: repeat-x;
    background-image: url("/content/background.png");
    background-image: -webkit-gradient(linear,left top, 0 330, color-stop(0, #444444), color-stop(0.45, #AAAAAA), color-stop(1, #FFFFFF));
    background-image: -moz-linear-gradient(center top , #444444 0%, #AAAAAA 150px, #FFFFFF 330px);
}

body, li, ul, a, h1, img {
    padding: 0;
    margin: 0;
    border: 0;
    color: black;
}

/* A div of class content wraps all of the content of the page, including disqus but without menu and footer. It sole purpose is to give all page content an appropriate margin. */
.content {
    margin: 30px;
}

ul {
    list-style: none outside none;
}

li {
    list-style-type: none;
}

h1 {
    font-weight: bold;
    font-size: 45px;
    padding-left: 30px;
    color: white;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

h2 {
    font-style: italic;
    font-family: "Palatino Linotype","Palatino","URW Palladio L",Palladio,"Bitstream Vera Serif",serif;
    border-bottom: 3px solid gray;
    color: black;
    padding-bottom: 3px;
    padding-left: 5px;
    clear: both;
}

/*---------TOP NAVIGATION for PAGES---------  */
#menu {/* position and background */
    background: white;
    display: block;
    margin: 0px;
    padding-top: 3px;
    padding-left: 20px;
    box-shadow: 0px 3px 8px black;
    -webkit-box-shadow: 0px 3px 8px black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#menu ul {
    display: inline;
    list-style: none;
}

/* style, color and size links and headings to suit */

#menu h2 {
    font-family: Calibri, Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    display: inline;
    border-bottom: 0px;
}

#menu li {
    display: inline;
    position: relative;
    padding: 1px;
}

#menu li:hover {
    color: black;
    background: white;
}

#menu li li {
    font-size: 100%;
    background: white;
    display: block;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 1px;
}

#menu li li:hover {
    color: black;
    text-decoration: none;
}

#menu a {
    font-family: Calibri, Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
    font-weight: bold;  
    color: inherit;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu ul ul {
    position: absolute;
    border-top: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px;
    width: 21ex;
    z-index: 500;
}

#menu ul ul ul {
    top: 0;
    left: 100%;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}
/* -------------End Top Navigation------------- */


/* ------------ Begin Disqus --------------- */
.disqus {
   padding-top: 30px;
   clear: both;
}

.disqus hr {
    color: gray;
    height: 1px;
}
/* ------------ End Disqus  --------------- */



/* ------------ Begin Footer --------------- */
.footer {
   padding-top: 50px;
   clear: both;
   color: gray;
   font-size: 66%;
   text-align: center;
}
/* ------------ End Footer  --------------- */


/* ------------ Begin Feedboxes --------------- */
.feedbox-list > li {
    float: left;
    box-shadow: 4px 4px 7px black;
    -webkit-box-shadow: 4px 4px 7px black;
    border: 1px solid gray;
    /*background-image: url('/content/box-cropped.png');*/
    /*background-repeat: no-repeat;*/
    height: 230px;
    width: 301px;
    padding: 18px 18px 18px 18px;
    margin: 10px 10px 10px 10px;
    /*border: thin dashed gray;*/
}

.feedbox-list > li.small {
    height: 4em;
}

.feedbox-list > li > ul {
    padding-top: 5px;
    /*border: thin dashed gray;*/
}

.feedbox {
    padding: 0px;
    margin: 0px;
    height: 227px;
    overflow: hidden;
    /*border: thin dashed gray;*/
}

.feedbox-list li h3 {
    padding: 0px;
    margin: 0px 0px 5px 0px;
    border-bottom: thin solid gray;
    /*border: thin dashed gray;*/
}

.feedbox-list li h3 a{
   border-bottom: none;
}

.feedbox-list li a {
    font-size: 90%;
    color: black;
    display: block;
    text-decoration: none;
    /*overflow: hidden;*/
    width: 300px;
    line-height: 1;
    border-bottom: thin dashed gray;
    padding-top: 4px;
    padding-bottom: 4px;
    /* target-name: new;
    target-new: tab; */
    /* position: absolute; */
}

/* ------------ End Feedboxes --------------- */


/* ------------ Begin tocboxes --------------- */
/* For toc in bytype.tmpl (and future uses) */
/*.tocbox {
    float: left;
    box-shadow: 4px 4px 7px black;
    -webkit-box-shadow: 4px 4px 7px black;
    border: 2px dotted gray;
    padding: 0px;
    margin: 0px;
    width: 301px;
    padding: 9px 9px 9px 9px;
}

.tocbox > ul {
    float: left;
    border: disc inside none;
    
}*/

.tocbox {
list-style-type:none;
margin:10px;
padding-bottom:5ex;
width:500px;
}
.tocbox li a
{
float:left;
display:block;
width: 75px;
font-size:small;
font-weight:bold;
color:#FFFFFF;
background-color:gray;
text-align:center;
padding:8px;
text-decoration:none;
}
.tocbox a:hover
{
background-color:black;
}
/* ------------ End tocboxes --------------- */



/* ------------ Begin Date View Table --------------- */

.bydate {
    float: left;
    margin: 1ex !important;
    table-layout: fixed;
    margin: 5ex;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 4px 4px 8px black;
    -webkit-box-shadow: 4px 4px 8px black;
}

.bydate td {
    border-bottom: 1px dashed gray;
}

.bydate tbody .datecolumn {
    width: 7ex;
    font-size: 80%;
    text-align: left;
}

.bydate tbody div {
    height: 1.2em;
    overflow: hidden;
}

.bydate tbody .blogcolumn {
    width: 30ex;
    font-size: 80%;
    text-align: left;
}

.bydate tbody .postcolumn {
    text-align: left;
    width: 50ex;
}

.bydate a {
   text-decoration: none;
}

.bydate .postcolumn a {
    font-size: 90%;
    color: black;
}

/* ------------ End Date View Table --------------- */

/* ------------ Twitter ---------------- */

.twitter {
    margin: auto;
    padding: 20pt;
}

.twtr-widget {
    margin: auto;
    width: 400px;
}

.twtr-doc {
    box-shadow: 2px 2px 4px #000000;
}

/* ------------- By ranking ---------------- */

.rankingcolumn {
    float: left;
    margin: 1ex !important;
}

.rankingcolumn .datecolumn{
    width: 3ex !important;
}

/* -------------- Planet -------------------- */

.planetbox {
    box-shadow: 4px 4px 7px black;
    -webkit-box-shadow: 4px 4px 7px black;
    border: 1px solid gray;
    padding: 18px 18px 18px 18px;
<<<<<<< HEAD
    margin: 10px 10px 30px 10px;
=======
    margin: 10px 10px 50px 10px;
>>>>>>> 1bb0d5aa9e26b8ac4f90bbc4ede5fe9b3bc86ce2
}

.planetbody, .planetbody h1, .planetbody h2, .planetbody h3, .planetbody h4 {
    font-family: "Helvetica", "Bitstream Vera Sans", sans-serif, sans !important;
    border: 0;
    font-style: normal;
    text-decoration: none;
}

.planethead h2 {
    font-size: 150%;
    margin-top: 0px;
}

.planetsubtitle {
    font-size: 120%;
    font-weight: bold;
}

.planethead h2 a {
    text-decoration: none;
}

.planetbody h1 {
    font-size: 125%;
}

.planetbody h2 {
    font-size: 115%;
}

.planetbody h3 {
    font-size: 110%;
}
